---
- name: Configure webserver with Nginx, Firewall, and Hardening
  hosts: localhost
  become: true
  vars:
    server_hostname: prod-web-02
    
  tasks:
    - name: Install required packages
      apt:
        name:
          - nginx
          - ufw
          - fail2ban
          - unattended-upgrades
          - apt-listchanges
        state: present
        update_cache: yes
        cache_valid_time: 3600

    - name: Ensure Nginx service is stopped before configuration
      systemd:
        name: nginx
        state: stopped
        enabled: yes

    - name: Configure Nginx site
      template:
        src: default-site.conf.j2
        dest: /etc/nginx/sites-available/default
        owner: root
        group: root
        mode: '0644'
      notify: restart nginx

    - name: Create web root directory
      file:
        path: /var/www/html
        state: directory
        owner: www-data
        group: www-data
        mode: '0755'

    - name: Deploy index.html
      template:
        src: index.html.j2
        dest: /var/www/html/index.html
        owner: www-data
        group: www-data
        mode: '0644'

    - name: Create log cleanup script
      template:
        src: cleanup-logs.sh.j2
        dest: /usr/local/bin/cleanup-logs.sh
        owner: root
        group: root
        mode: '0755'

    - name: Configure cron job for log cleanup
      cron:
        name: "Cleanup old logs"
        minute: "0"
        hour: "2"
        job: "/usr/local/bin/cleanup-logs.sh"
        user: root

    - name: Configure UFW firewall
      ufw:
        rule: "{{ item.rule }}"
        port: "{{ item.port }}"
        proto: "{{ item.proto }}"
      loop:
        - { rule: 'allow', port: '22', proto: 'tcp' }
        - { rule: 'allow', port: '80', proto: 'tcp' }
        - { rule: 'allow', port: '443', proto: 'tcp' }
      ignore_errors: yes

    - name: Set UFW default policies
      ufw:
        direction: "{{ item.direction }}"
        policy: "{{ item.policy }}"
      loop:
        - { direction: 'incoming', policy: 'deny' }
        - { direction: 'outgoing', policy: 'allow' }
      ignore_errors: yes

    - name: Enable UFW
      ufw:
        state: enabled
      ignore_errors: yes

    - name: Configure fail2ban
      template:
        src: jail.local.j2
        dest: /etc/fail2ban/jail.local
        owner: root
        group: root
        mode: '0644'
      notify: restart fail2ban

    - name: Enable fail2ban service
      systemd:
        name: fail2ban
        enabled: yes
        state: started

    - name: Configure automatic security updates
      template:
        src: 50unattended-upgrades.j2
        dest: /etc/apt/apt.conf.d/50unattended-upgrades
        owner: root
        group: root
        mode: '0644'

    - name: Enable automatic updates
      lineinfile:
        path: /etc/apt/apt.conf.d/20auto-upgrades
        regexp: '^APT::Periodic::Update-Package-Lists'
        line: 'APT::Periodic::Update-Package-Lists "1";'
        create: yes

    - name: Configure update interval
      lineinfile:
        path: /etc/apt/apt.conf.d/20auto-upgrades
        regexp: '^APT::Periodic::Unattended-Upgrade'
        line: 'APT::Periodic::Unattended-Upgrade "1";'
        create: yes

    - name: Disable root login via SSH
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PermitRootLogin'
        line: 'PermitRootLogin no'
        state: present
      notify: restart sshd

    - name: Disable password authentication
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PasswordAuthentication'
        line: 'PasswordAuthentication no'
        state: present
      notify: restart sshd

    - name: Set SSH idle timeout
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?ClientAliveInterval'
        line: 'ClientAliveInterval 300'
        state: present
      notify: restart sshd

    - name: Start and enable Nginx service
      systemd:
        name: nginx
        state: started
        enabled: yes

  handlers:
    - name: restart nginx
      systemd:
        name: nginx
        state: restarted

    - name: restart fail2ban
      systemd:
        name: fail2ban
        state: restarted

    - name: restart sshd
      systemd:
        name: ssh
        state: restarted
