<!DOCTYPE html>
<html>
<head>
    <title>TecnoSoluciones SRL</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>TecnoSoluciones SRL</h1>
    <p>Production Web Server - Strategy B</p>
    <p>Server: {{ server_hostname }}</p>
</body>
</html>
